JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_VALIDITY_TIME=
JWT_REFRESH_TOKEN_VALIDITY_TIME=

MEDIA_STORAGE_ENABLED=false
MEDIA_STORAGE_BUCKET=
MEDIA_STORAGE_REGION=ap-northeast-2
MEDIA_STORAGE_ENDPOINT=
MEDIA_STORAGE_PUBLIC_BASE_URL=
MEDIA_STORAGE_ACCESS_KEY=
MEDIA_STORAGE_SECRET_KEY=
MEDIA_STORAGE_PATH_STYLE_ACCESS=false
MEDIA_STORAGE_KEY_PREFIX=menu-images
MEDIA_STORAGE_MAX_IMAGE_SIZE_BYTES=10485760
